{% load static %}

<!-- Footer Start -->
<footer class="footer">
    <div class="foot-top">
      <div class="foot foot-1">
        <div class="foot-head">
          <span>Information</span>
          <span id="foot1-b"><img src="{% static "/image/icons/caret-down.svg" alt="" %}"></span>
        </div>
        <div class="foot-1-desc" id="foot-1-desc">
          <span><a href="#">Home</a></span>
          <span><a href="#">Shop</a></span>
          <span><a href="#">About us</a></span>
          <span><a href="#">Careers</a></span>
          <span><a href="#">Corporate Gifting</a></span>
        </div>
      </div>
      <div class="foot foot-2">
        <div class="foot-head">
          <span>Links</span>
          <span  id="foot2-b"><img src="{% static "/image/icons/caret-down.svg" alt="" %}"></span>
        </div>
        <div class="foot-2-desc" id="foot-2-desc">
          <span><a href="#">FAQ</a></span>
          <span><a href="#">Returns & Refunds</a></span>
          <span><a href="#">About us</a></span>
          <span><a href="#">Privacy Policy</a></span>
          <span><a href="#">Terms of Service</a></span>
        </div>
      </div>
      <div class="foot foot-3">
        <div class="foot-head">
          <span>Contact Us</span>
          <span id="foot3-b"><img src="{% static "/image/icons/caret-down.svg" alt="" %}"></span>
        </div>
        <div class="foot-3-desc" id="foot-3-desc">
          <span><a href="#">contact@fangled.in</a></span>
          <span class="mb-20"><a href="#">shop@fangled.in</a></span>
          <span class="footer-icon"><a href="#"><img src="{% static "/image/icons/facebook.svg" alt="" %}"><a href="#"><img
                  src="{% static "/image/icons/instagram.svg" %}" alt=""></a></span>
        </div>
      </div>
      <div class="foot foot-4 mb-20">
        <div class="foot-head">
          <span>Subscribe</span>
          <span id="foot4-b"><img src="{% static "/image/icons/caret-down.svg" alt="" %}"></span>
        </div>
        <div class="foot-4-desc" id="foot-4-desc">
          <span class="foot-4-p mb-20">Enter your mail below to get 10% off on your first order and be the first to
            know
            about new collections and offers.</span>
          <input type="email" class="foot-4-input" placeholder="Enter your email ">
        </div>
      </div>
      <div class="foot foot-5">
        <div class=""><img src="{% static "/image/Fangled_Logo_a282abbc-8f6d-418d-b205-cb1b931f2b66.avif" alt="" %}"></div>
      </div>
    </div>
    <div class="foot-logo-wide">
      <div class=""><img src="{% static "/image/Fangled_Logo_a282abbc-8f6d-418d-b205-cb1b931f2b66.avif" alt="" %}"></div>
    </div>
    <div class="foot-bottom">
      <div class="">© COPYRIGHT 2024, ALL RIGHT RESERVED BY GEDEXO TECHNOLOGIES</div>
    </div>
  </footer>
  <!-- Footer End -->